.Sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 275px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-general);
    z-index: 100;
}

.Sidebar.collapsed{
    width: 100px;
}
.Sidebar.collapsed span{
    display: none;
}
.Sidebar.collapsed .nextui-button-icon{
    display: flex;
}

.sidebar-top{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.sidebar-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logo img{
    width: 70px;
    height: auto;
}
.sidebar-logo span{
    font-weight: 700;
    font-size: 22px;
}

.sidebar-close{
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

.Sidebar.collapsed .sidebar-close{
    justify-content: center;
}

.sidebar-close button:hover{
    background-color: var(--color-hover);
}

.sidebar-content{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.sidebar-content ul{
    margin: 0;
}

.sidebar-content li{
    margin-bottom: 25px;
}

/* Show/Hide animation */

/* @keyframes hideMenu{
    to{
        left: -100%;
    }
} */

/* Para ocultar cosas de los nav items */

.Sidebar.collapsed .navbar-item-box{
    padding: 0;
    height: 40px;
}
.Sidebar.collapsed .navbar-item-box > box-icon{
    padding-right: 0;
}