.page-container{
    background-color: var(--background-color);
    margin-left: 275px;
    height: 100vh;
    padding: 50px;
    overflow-y: scroll;
    transition: var(--tran-general);

}
.page-container.side-bar-collapsed{
    margin-left: 100px;
    padding: 50px;
}

.titulo-seccion{
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  line-height: 40pt;
}

.resaltar-texto{
  color: var(--color-principal);
}

.descripcion-seccion{
    color: var(--color-inactivo);
    font-size: 18px;
    font-weight: 500;
}

header{
    margin-bottom: 50px;
}