*{
  font-family: 'Inter',sans-serif;
}

:root{
  --color-principal: #6532FF;
  --color-inactivo: #8D8D8D;
  --background-color: #F8F9FC;
  --sidebar-color: white;
  --text-color: black;

  /* Transitions */
  --tran-general: all 0.3s ease;
}